# Compiled
*.elc
*.so

# Packaging
.cask
elpa/archives
elpa/gnupg

# Backup files
*~
*#
.#*
\#*

# Undo-tree save-files
*.~undo-tree

# Keep these per-machine, not permanent configuration
recentf
tramp
projects
bookmarks
backups/
org/
history
diary
tutorial/
eshell/lastdir
url/
semanticdb/
ede-projects.el
server/
transient/
ido.last
.emacs.desktop
projectile-bookmarks.eld
/.mc-lists.el
/eln-cache/
eaf/
.org-id-locations

# Python artifacts
*.ipynb_checkpoints*
*.ipynb
*/.venv/
*/venv/
/.lsp-session-v1
errors.py

# Misc.
network-security.data
elpa/tsc-20220212.1632/tsc-dyn.dll
elpa/vterm-*
packages/conda.el.org
packages/conda.el.md
*.png
*.svg
README.html
elpa/ox-clip-20220117.1909/html-clip-w32.py
pyrightconfig.json
tree-sitter/
TAGS
proxy.el
ellama-config.el
ellama-sessions/
site-lisp/bigquery-mode
site-lisp/python-venv
site-lisp/treesit-auto
org-persist/
token
places
.DS_Store
bookmarks.eld
*.value

# VC Packages
elpa/treesit-auto