# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*#
.#*
\#*

# Undo-tree save-files
*.~undo-tree

recentf
network-security.data
server/
transient/
/.lsp-session-v1
/ido.last
/tramp
.venv
eshell/
projects
url/
semanticdb/
ede-projects.el
errors.py
.emacs.desktop
